@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --primary-color: #fd611a;
  --background-color: #ffffff;
  --dark-color: #151515;
}

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*             UTILIDADES             */

.container {
  max-width: 120rem;
  margin: 0 auto;
  background-color: red;
}

.heading-1 {
  text-align: center;
  font-weight: 500;
  font-size: 3rem;
}

/*               HEADER               */
.container .container-hero {
  background-color: var(--background-color);
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.container-menu {
  display: flex;
  align-items: center;
}

.customer-support {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.customer-support img {
  width: 3.3rem;
  height: 3.3rem;
}

.content-customer-support {
  display: flex;
  flex-direction: column;
}

.container-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.container-logo h1 a {
  text-decoration: none;
  color: #000;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.container-user {
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

.container-user .user {
  width: 6rem;
  height: 2.5rem;
  color: var(--primary-color);
  padding-right: 2.5rem;
  border-right: 1px solid #e2e2e2;
}

.container-user .cart {
  width: 4rem;
  height: 2.5rem;
  color: var(--primary-color);
  padding-left: 1rem;
}

.content-shopping-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ************* NAVBAR ************* */

.container-navbar {
  background-color: var(--primary-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.menu {
  display: flex;
  gap: 2rem;
  position: relative;
}

.menu li {
  list-style: none;
}

.menu a {
  text-decoration: none;
  font-size: 1.3rem;
  color: var(--dark-color);
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
}

.menu a::after {
  content: '';
  width: 1.5rem;
  height: 1px;
  background-color: #fff;
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%, 50%);
  opacity: 0;
  transition: all 0.3s ease;
}

.menu a:hover::after {
  opacity: 1;
}

.menu a:hover {
  color: #fff;
}

.search-form {
  position: relative;
  display: flex;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 2rem;
  background-color: #fff;
  height: 4.4rem;
  overflow: hidden;
}

.search-form input {
  outline: none;
  font-family: inherit;
  border: none;
  width: 25rem;
  font-size: 1.4rem;
  padding: 0 2rem;
  color: #777;
  cursor: pointer;
}

.search-form input::-webkit-search-cancel-button {
  appearance: none;
}

.search-form .btn-search {
  border: none;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1rem;
}

.btn-search {
  font-size: rem;
  color: #fff;
}
/* ************* NAVBAR QUERIES ************* */

@media screen and (max-width: 870px) {
  .search-form {
    display: none;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
  }

  .menu {
    display: flex;
    gap: 2rem;
    position: relative;
  }

  .menu li {
    list-style: none;
  }
}
/*               BANNER               */
.bannerx {
  display: flex;
  background-image: url(https://imagenes.compragamer.com/bannerPrincipal/DC_20240319101712_ec2X7rID.jpg);
  width: 100%;
  height: 60rem;
  background-size: cover;
  background-position: center;
}

/* ************* BANNER QUERIES ************* */
@media screen and (max-width: 1290px) {
  .banner {
    display: flex;
    width: 120rem;
  }

  .bannerx {
    display: flex;
    width: 100%;
    height: 60rem;
    align-content: center;
    justify-content: center;
    background-size: auto;
  }
}

.main-content {
  background-color: var(--background-color);
}

/*              FEATURES              */

.container-features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  padding: 3rem 0;
}

.card-feature {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  background-color: #fff;
  border-radius: 1rem;
  padding: 1.5rem 0;
  border: 2px solid black;
}

.card-feature img {
  width: 2.7rem;
  height: 2.7rem;
  color: var(--primary-color);
}

.feature-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.feature-content span {
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--dark-color);
}

.feature-content p {
  color: #777;
  font-weight: 500;
}

/*              MEDIA FEATURES              */

@media screen and (max-width: 680px) {
  .container-features {
    display: flex;
    flex-direction: column;
    max-width: 300px;
  }
}

/*             CATEGORIES             */

.top-categories {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3rem;
}

.container-categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.card-category {
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  gap: 2rem;
  background-color: var(--primary-color);
}

.card-category p {
  font-size: 2.5rem;
  color: #fff;
  text-transform: capitalize;
  position: relative;
}

.card-category p::after {
  content: '';
  width: 2.5rem;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translate(-50%, 50%);
}

.card-category span {
  font-size: 1.6rem;
  color: #fff;
  cursor: pointer;
}

.card-category span:hover {
  color: var(--dark-color);
}

/*            TOP PRODUCTS            */

.top-products {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3rem;
}

.container-options {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.container-options span {
  color: #777;
  background-color: #fff;
  padding: 0.7rem 3rem;
  font-size: 1.4rem;
  text-transform: capitalize;
  border-radius: 2rem;
  cursor: pointer;
}

.container-options span:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.container-options span.active {
  background-color: var(--primary-color);
  color: #fff;
}

/* Products */
.container-products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: 3rem;
}

.card-product {
  background-color: #fff;
  padding: 2rem 3rem;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.container-img {
  position: relative;
}

.container-img img {
  width: 100%;
}

.container-img .discount {
  position: absolute;
  left: 0;
  background-color: var(--primary-color);
  color: #fff;
  padding: 2px 1.2rem;
  border-radius: 1rem;
  font-size: 1.2rem;
}

.card-product:hover .discount {
  background-color: #000;
}

.footer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  width: 100%;
  height: 50rem;
  background-color: yellow;
}

